body {
    display: grid;;
    grid-template-areas:
        "header"
        "main";
    background: #101922;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    margin-bottom: 10px;
}

main {
    border-top: 1px solid #374151;
}

.nav-header nav {
    margin-right: auto;
    margin-left: 2rem;
}

.nav-header a {
    margin-left: auto;
    margin-right: 2rem;
    &:hover {
        color: #1170cd;
    }
}

main {
    grid-area: main;
}

h1, h2, h3, p, a {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-icon {
    color: #6a717f;
}

.user-img {
    border-radius: 100%;
    min-width: 40px;
    min-height: 40px;
}

.devjobs-logo {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    color: #1170cd;
    margin-right: 0.5rem;
}

main section > h1{
    text-align: center;
    margin-top: 2rem;
}

main section > p{
    text-align: center;
    color: #cfd3d9;
}

.company-name {
    color: #7a828d;
    margin-bottom: 0.5rem;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background: #18212d;
    border: 1px solid #374151;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    max-width: 75vw;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-inline: auto;
}

.search-bar {
    height: 24px;
    width: 100%;
    background: #18212d;
    border: none;

    &:focus-visible {
        outline: none;
    }

    color: #fff;
}

.filters {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 2em;
    margin-left: 12.2vw;
    gap: 0 10px;

    & button {
        background: #242d3a;
        border: 1px solid #374151;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: #fff;
    }
}

body header > a {
    background: #0f2b44;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: #1170cd;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.search-results {
    display: flex;
    flex-direction: column;
    border: 1px solid #374151;
    border-radius: 8px;
    max-width: 75vw;
    align-items: stretch;
    margin-bottom: 2rem;
    margin-inline: auto;
}

.search-results article {
    padding: 1.5rem;
    border-bottom: 1px solid #374151;
    width: 100%;
}

.search-results article:last-child {
    border-bottom: none;
}

main header h2 {
    margin-top: 2rem;
    margin-bottom: 1em;
    margin-left: 12.2vw;
}

.search-results article {
    position: relative;

    & button {
        font-weight: bold;
        background: #1173d4;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        color: #fff;
        cursor: pointer;
        border: 1px solid #374151;
        position: absolute;
        margin: auto;
        right: 20px;
        top: 15px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;

    & button {
        background: #101922;
        border: 1px #374151;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: #fff;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:hover {
            background: #18212d;
        }

        &:focus-visible {
            background: #1173d4;
            outline: none;
        }

        &:nth-child(2) {
            background: #1173d4;
        }       
    }
}